h1 {
  font-size: 40px;
  color: white;
}
h2 {
  font-size: 25px;
}
h3 {
  font-size: 29px;
}
p {
  font-size: 22px;
}

img {
  width: 100%;
  display: block;
}

body {
  font-family: helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

main > article > section {
  padding: 65px 20px;
}

.card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
}

.card section {
  padding: 20px;
}

main > article > header {
  background-color: black;
  padding: 0 0px;
  height: calc(100vh - 80%);
}
@media (min-width: 768px) {
  .card {
    margin-right: 150px;
    margin-left: 150px;
  }
  .goal {
    margin-left: 80px;
    margin-right: 80px;
  }
}

.grid-1-2 {
  display: block;
  grid-template-columns: 1fr 1fr;
  margin-left: 0;
  margin-right: 0;
}
.grid-1-2 img {
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0 0 0 0;
  display: block;
}

@media (min-width: 768px) {
  .grid-1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

nav {
  height: 80px;
}
nav > a > img {
  height: 70px;
  width: auto;
}

@media (min-width: 768px) {
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    margin-right: 0;
  }
}

.sixteen-by-nine {
  padding-right: 80px;
  position: relative;
}

.sixteen-by-nine > iframe {
  position: absolute;
  top: 0;
  left: 0;
}
